<% content_for :javascript_includes do %>
  <%= javascript_include_tag "main.js" %>
  <%= stylesheet_link_tag "main.css" %>
<% end %>
 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAoQtCCn8ny-m41vdgFezK2HiqknAbCZns&sensor=false">
    </script>
 <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"></script>
<center>
<h1>Tweets Near Me</h1>
Lat:<input type="text" id="txtGeoLat" class="txtGeo" value="33.972652508736545"/>&nbsp;Lng:<input type="text" id="txtGeoLng" class="txtGeo" value=" -118.25439167022705"/>&nbsp;&nbsp;<button id="btnQuery">Search</button><br><br>
<div id="divResult"><%= image_tag "load.gif" %>&nbsp;Loading New Result</div>
<div id = "map_canvas" style="width: 500px;height: 500px"></div>
