<% content_for :javascript_includes do %>
  <%= javascript_include_tag "main.js" %>
<% end %>
<h1>Explore#main</h1>
<p>Find me in app/views/explore/main.html.erb</p>
<h2>Hello</h2>
<div id="div1">Hello</div>
